{{define "navbar"}}
<a class="navbar-brand" href="/mis">国学点滴</a>
<ul class="nav navbar-nav">
  <li {{if .IsHome}}class="active"{{end}}><a href="/mis">Mis首页</a></li>
  <li {{if .Tag}}class="active"{{end}}><a href="/mis/tag">标签管理</a></li>
  <li {{if .IsTopic}}class="active"{{end}}><a href="/mis/topic">诗词</a></li>
</ul>

<div class="pull_right">
  <ul class="nav navbar-nav navbar-right">
    {{if .IsLogin}}
    <li><a href="/mis/login?exit=true">退出</a></li>
    {{else}}
    <li><a href="/mis/login">管理员登录</a></li>
    {{end}}
  </ul>
</div>
{{end}}